/* Welcome back to Tarj: */
font-family: Roboto-Regular;
font-size: 24px;
color: #000000;
line-height: 32px;
text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
Technologies:

x-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
/* Rectangle 226 Copy 7: */
background: #9F2FB4;
box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.50);

/* Rectangle 226 Copy 2: */
background: #D8D8D8;
box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.50);

/* Rectangle 226 Copy 6: */
background: #40D59D;
box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.50);

/* Boba Q.: */
font-family: Roboto-Regular;
font-size: 10px;
color: #000000;
line-height: 13px;

/* Hey Christine, Would: */
font-family: Roboto-Regular;
font-size: 12px;
color: #000000;
line-height: 16px;


/* Rectangle 13 Copy 2: */
background: #F4F4F4;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);

/* Bitmap: */
background: #FF6962;

/* Bitmap: */
background: #FF6962;

/* Rectangle 33: */
background: #FFFFFF;

/* Box: */
background: rgba(252,252,252,0.70);
background: rgba(248,248,248,0.60);
border-radius: 6px;
/* Breaklines: */
background: rgba(0,0,0,0.25);
/* OK: */
font-family: HelveticaNeue;
font-size: 20.01px;
color: #037AFF;
line-height: 24px;
/* Don’t Allow: */
font-family: HelveticaNeue-Light;
font-size: 20.01px;
color: #037AFF;
letter-spacing: 0.3px;
line-height: 24px;
/* Notifications may in: */
font-family: HelveticaNeue-Light;
font-size: 15.3px;
color: #000000;
letter-spacing: 0.4px;
line-height: 18px;
/* “An App” Would Like : */
font-family: HelveticaNeue-Medium;
font-size: 20.01px;
color: #030303;
line-height: 25px;
/* Bar Background: */
background: #B6B6B6;
border-radius: 10px;
/* Value: */
background: #0FB2FF;
border-radius: 10px;
/* Cell: */
background: #FFFFFF;
/* Separator: */
box-shadow: inset 0px 0px 0px 0px #C8C7CC;
/* Name: */
font-family: Roboto-Regular;
font-size: 14.5px;
color: #000000;
line-height: 19px;
/* Value: */
font-family: Roboto-Regular;
font-size: 12.8px;
color: #FF6962;
letter-spacing: 0.2px;
line-height: 16px;
/* It was great to see : */
font-family: Roboto-Regular;
font-size: 12.8px;
color: #909094;
letter-spacing: 0.2px;
line-height: 20px;
/* Disclosure Indicator: */
background: #C7C7CC;
/* Table View Background: */
background: #EFEFF4;
/* Cell: */
background: #FFFFFF;
/* Separator: */
box-shadow: inset 0px 0px 0px 0px #C8C7CC;
/* Label: */
font-family: HelveticaNeue;
font-size: 14.5px;
color: #000000;
line-height: 17px;
/* Disclosure Indicator: */
background: #C7C7CC;
/* Cell: */
background: #FFFFFF;
/* Separator: */
box-shadow: inset 0px 0px 0px 0px #C8C7CC;
/* Label: */
font-family: HelveticaNeue;
font-size: 14.5px;
color: #000000;
line-height: 17px;
/* Disclosure Indicator: */
background: #C7C7CC;
/* Cell: */
background: #FFFFFF;
/* Separator: */
box-shadow: inset 0px 0px 0px 0px #C8C7CC;
/* Label: */
font-family: HelveticaNeue;
font-size: 14.5px;
color: #000000;
line-height: 17px;
/* Disclosure Indicator: */
background: #C7C7CC;
/* Cell: */
background: #FFFFFF;
/* Label: */
font-family: HelveticaNeue;
font-size: 14.5px;
color: #000000;
line-height: 17px;
/* Disclosure Indicator: */
background: #C7C7CC;
/* Separator Top: */
box-shadow: inset 0px 0px 0px 0px #C8C7CC;
/* Separator Bottom: */
box-shadow: inset 0px 0px 0px 0px #C8C7CC;
/* Button Background: */
background: #FFFFFF;
border-radius: 4.5px;
/* Cancel: */
font-family: HelveticaNeue-Medium;
font-size: 16.81px;
color: #037AFF;
line-height: 20px;
/* Activity Background: */
background: rgba(252,252,252,0.70);
background: rgba(248,248,248,0.60);
border-radius: 4.5px;
/* Icon Shape: */
background: #FFFFFF;
/* More: */
background: #686871;
/* More: */
font-family: HelveticaNeue;
font-size: 8.8px;
color: #000000;
letter-spacing: 0.2px;
line-height: 10px;
/* Icon Shape: */
background: #FFFFFF;
/* More: */
background: #686871;
/* More: */
font-family: HelveticaNeue;
font-size: 8.8px;
color: #000000;
letter-spacing: 0.2px;
line-height: 10px;
/* Icon Shape: */
background: #FFFFFF;
/* Bitmap: */
/* More: */
font-family: HelveticaNeue;
font-size: 8.8px;
color: #000000;
letter-spacing: 0.2px;
line-height: 10px;
/* Icon Shape: */
background: #FFFFFF;
/* More: */
font-family: HelveticaNeue;
font-size: 8.8px;
color: #000000;
letter-spacing: 0.2px;
line-height: 10px;
/* Bitmap: */
/* Separators: */
background: rgba(0,0,0,0.25);

